*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Source Code Pro", monospace;
}

body{
    background-color: #101010;
    padding: 40px 150px;
    height: 100vh;
}

.mainBody{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    height: 100%;
}
    .header{
        display: flex;
        background-color: #1A1A1E;
        justify-content: space-between;
        align-items: center;
        height: 60px;
        border-radius: 15px;
        padding: 20px;
        border: 2px #2a4646 solid;
    }

        .logo{
            display: flex;       
            justify-content: flex-start; 
            align-items: center; 
            height: 52px;
        }
        .aaronLogo{
            object-fit:cover;
            height: 100%;
            width: 200px;
            margin: -35px;
        }

        .navigation{
            color: #fff;
            width: 250px;
            font-size: 18px;
            display: flex;  
            justify-content: space-between;
        }
        .navLinks{
            color: #fff;
            transition: all 0.2s;
            padding: 10px;
            border-radius: 15px;
            cursor: pointer;
            transition: all 0.2s;
        }
        .navLinks:hover{
            background-color: #2a4646;
            box-shadow: 0px 0px 25px 1px #27f1b1 ; 
        }

        .githubPage{
            display: flex;
            height: 100%;
            background-color: #2a4646;
            padding: 10px;
            align-items: center;
            border-radius: 15px;
            border:1px solid #fff;
            transition: all 0.2s;
        }

        .navGitLink{
            color: #fff;
            font-size: 18px;
        }

        .navGitIcon{
            filter:invert(100%);
            height: 30px;
            padding: 0px;        
            margin-left: 8px;
        }

        .githubPage:hover{
            box-shadow: 0px 0px 25px 1px #27f1b1 ;
        }

    .canvas{
        display: flex;
        flex: 1;
        column-gap: 30px;
    }

        .sideBar{
            display: flex;
            width: 420px;
            border-radius: 15px;
            background-image:url(../resources/ryan-haight-thorton-creek-large.gif);
            background-size: cover;
            background-position: 95%;
            border: 2px #2a4646 solid;
            filter: brightness(90%);

            overflow: hidden;

        }
        
        .projectList{
            display: flex;
            flex-direction: column;
            flex: 1;
            gap:1px;
        }

        .titleBox{
            color: #fff;
            background-color: #1A1A1E;
            padding: 20px 30px;
            font-size: 20px;
            
        }

        .projectBox{
            display: flex;
            flex: 1;
            background-color: rgb(42, 70, 70, 0.4);
            filter: brightness(110%);

            transition: all 0.2s;
        }
        .projectBox:hover{
            filter: brightness(250%);
            padding-left: 35px;
        }

        .current{
            filter: brightness(250%);
        }

        .projName{
            font-size: 16px;
            color:#d3d3d3;
        }

        .projectItem{
            display: flex;
            flex-direction: column;
            flex: 1;

            align-items: start;
            justify-content: center;
            color: #fff;
            font-size: 20px;
            padding: 20px 30px;

            transition: all 0.2s;

        }


        .menu{
            display: flex;
            flex-direction: row;
            background-color: #1A1A1E;
            padding: 8px;
            gap:5px;
        }


        .icon{
            padding: 5px;
            height: 45px;
            filter: invert(100%);
        }

        .link{
            display: flex;
            flex:1;
            justify-content: center;
            background-color: #2a4646;
            border-radius: 10px;
            border: #fff 1px solid;

            transition: all 0.2s;
    
        }
        .link:hover{
            box-shadow: 0px 0px 8px 1px #27f1b1 ;
            padding: px;
        }





        .contentPage{
            display: flex;
            flex-direction: column;
            flex: 1;
            row-gap: 30px;

        }
            .projectArea{
                background-color: #1A1A1E;  
                border: 2px #2a4646 solid;
                border-radius: 15px;  
                padding: 30px 50px;
                display: flex;
                flex: 2;
                align-content: space-between;
                flex-direction: column;
            }

